#body {
    -fx-background-color: #E6E6E6;
}
.margin {
    -fx-padding: 1em;
}

.underline {
    -fx-underline: true;
}

/*--- GENERAL ---*/

.inpDefault {
    -fx-max-width: 400px;
}

.red {
    -fx-text-fill: #FF0000;
}

.black {
    -fx-text-fill: #000000;
}

.textField {
    -fx-max-width: 200px;
}

.btnNav {
    -fx-background-color: #FFFFFF;
    -fx-min-width: 430px;
    -fx-max-width: 430px;
    -fx-padding: 0.5em 0;
    -fx-font-size: 1.75em;
    -fx-font-align: center;
}