/*--- GUI_LR ---*/
#title {
  -fx-text-fill: white;
  -fx-font-size: 40px;
}

#header {
  -fx-min-width: 400px;
  -fx-background-color: #003153;
  -fx-padding: 0.5em 0 0.5em 1em;
}

.inp_lbl {
  -fx-min-width: 8em;
}

#main {
  -fx-padding: 1em;
}

#buttons {
  -fx-padding: 1em 0 0 0;
}



/*--- GUI_LR ---*/